*.local.*
*.local

node_modules/

# LLMs sometimes run coverage testing manually in the root
coverage/

# local, project-specific, untracked skill files, use `private-xxx` as the skill
# name.
.claude/skills/private-*
