---
import { Navbar } from "@/components/navbar";
import Prose from "@/components/prose.astro";
import { VersionSelector } from "@/components/version-selector";
import {
  getNavbarEntries,
  type CategorizedFunctions,
} from "@/lib/navbar-entries";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "./base.astro";
import { map, pipe, sortBy } from "remeda";

const COLLECTION = "docs";

type Props = {
  readonly categorized: CategorizedFunctions;
  readonly collectionQuery: (
    entry: CollectionEntry<typeof COLLECTION>,
  ) => boolean;
};

const { categorized, collectionQuery } = Astro.props;

const [navbarEntries, collection] = await Promise.all([
  getNavbarEntries(categorized, collectionQuery),
  getCollection(COLLECTION, collectionQuery),
]);

const renderedCollection = await pipe(
  collection,
  sortBy(({ data: { priority } }) => priority ?? Infinity),
  map(async (entry) => ({
    ...entry,
    rendered: await entry.render(),
  })),
  async ($) => await Promise.all($),
);

const { pathname } = Astro.url;
---

<BaseLayout>
  <div class="flex flex-1 gap-8 p-8">
    <aside
      class="sticky top-24 hidden h-[calc(100dvh-8rem)] w-64 overscroll-contain md:block"
    >
      <Navbar entries={navbarEntries} client:load>
        <VersionSelector pathname={pathname} client:load /></Navbar
      >
    </aside>
    <main class="flex-1 space-y-8">
      {
        renderedCollection.map(({ slug, rendered: { Content } }) => (
          <Prose id={slug} class="scroll-mt-24">
            <Content />
          </Prose>
        ))
      }
      <slot />
    </main>
  </div>
</BaseLayout>
