---
import Header from "@/components/header.astro";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    {/* eslint-disable-next-line unicorn/text-encoding-identifier-case */}
    <meta charset="UTF-8" />
    <meta
      name="description"
      content='The first "data-first" and "data-last" utility library designed specifically for TypeScript'
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Remeda</title>
    <script>
      import { initTheme } from "@/lib/theme";
      initTheme();
    </script>
  </head>
  <body class="flex h-dvh w-screen flex-col items-stretch overflow-hidden">
    <Header />
    <slot />
  </body>
</html>
