---
import Header from "@/components/header.astro";
import "@/styles/globals.css";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;
---

<html lang="en">
  <head>
    {/* eslint-disable-next-line unicorn/text-encoding-identifier-case */}
    <meta charset="UTF-8" />
    <meta
      name="description"
      content='The first "data-first" and "data-last" utility library designed specifically for TypeScript'
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Remeda</title>
    <script>
      import { initTheme } from "@/lib/theme";
      initTheme();
    </script>
  </head>
  <body class="min-w-screen flex min-h-dvh flex-col items-stretch gap-6">
    <Header />
    <section {...Astro.props}>
      <slot />
    </section>
  </body>
</html>
