---
import Header from "@/components/header.astro";
import ThemeScript from "@/components/theme-script.astro";
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    {/* eslint-disable-next-line unicorn/text-encoding-identifier-case */}
    <meta charset="UTF-8" />
    <meta
      name="description"
      content='The first "data-first" and "data-last" utility library designed specifically for TypeScript'
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Remeda</title>
    <ThemeScript />
    <script>
      import * as R from "remeda";
      window.R = R;
    </script>
  </head>

  <body>
    <Header />

    <div class="container">
      <slot />
    </div>
  </body>
</html>
