---
import NetlifyAttribution from "@/components/netlify-attribution.astro";
import Prose from "@/components/prose.astro";
import BaseLayout from "./base.astro";
---

<BaseLayout>
  <main class="overflow-hidden p-6">
    <Prose class="container max-w-4xl">
      <slot />
    </Prose>
  </main>
  <footer class="flex justify-center py-5">
    <NetlifyAttribution />
  </footer>
</BaseLayout>
