---
import Prose from "@/components/prose.astro";
import BaseLayout from "./base.astro";
---

<BaseLayout>
  <main>
    <Prose class="container max-w-4xl p-6">
      <slot />
    </Prose>
  </main>
</BaseLayout>
