---
import Markdown from "../markdown.astro";
---

<div
  class="flex flex-col gap-8 rounded-md border border-sky-100 bg-gradient-to-tl from-sky-50 to-sky-100 p-3 shadow-md dark:border-sky-900 dark:from-sky-900 dark:to-sky-950"
>
  <h6
    class="text-xs font-semibold uppercase tracking-wide text-neutral-800 underline dark:text-neutral-200"
  >
    Changes in v2
  </h6>
  <Markdown>
    <slot />
  </Markdown>
</div>
