---
import { NAVBAR_ENTRIES } from "@/lib/v1/navbar-categories";
import { NavbarBase, NavbarCategoryHeader, NavbarItem } from "../navbar-base";

const { pathname } = Astro.url;
---

<NavbarBase pathname={pathname} entries={NAVBAR_ENTRIES} client:load>
  <li>
    <NavbarCategoryHeader>Guides</NavbarCategoryHeader>
    <ul>
      <li>
        <NavbarItem href="#migration-intro" name="Migrate to v2" />
      </li>
    </ul>
  </li>
</NavbarBase>
