---
import FunctionCard from "@/components/function-card.astro";
import { Navbar } from "@/components/navbar";
import Layout from "@/layouts/layout.astro";
import { CATEGORIZED } from "@/lib/categorized";
import { NAVBAR_ENTRIES } from "@/lib/navbar-categories";
import { flat, map, pipe, values } from "remeda";

const { pathname } = Astro.url;
---

<Layout class="flex flex-1 items-stretch gap-6 overflow-hidden pl-6">
  <aside class="hidden w-60 py-6 md:block">
    <Navbar pathname={pathname} entries={NAVBAR_ENTRIES} client:load />
  </aside>
  <main class="flex-1 space-y-6 overflow-y-auto py-6 pr-6">
    {
      pipe(
        CATEGORIZED,
        values(),
        flat(),
        map((func) => <FunctionCard func={func} />),
      )
    }
  </main>
</Layout>
