---
import FunctionCard from "@/components/function-card.astro";
import { Navbar } from "@/components/navbar";
import Layout from "@/layouts/layout.astro";
import { CATEGORIZED } from "@/lib/categorized";
import { NAVBAR_ENTRIES } from "@/lib/navbar-categories";
import { flat, map, pipe, values } from "remeda";
---

<Layout class="flex-1 gap-6 px-4 md:flex">
  <aside
    class="top-20 z-30 hidden h-[calc(100dvh-3.5rem)] w-full md:sticky md:block md:w-60"
  >
    <Navbar entries={NAVBAR_ENTRIES} client:load />
  </aside>
  <main>
    <ul class="flex flex-col">
      {
        pipe(
          CATEGORIZED,
          values,
          flat(),
          map((func) => (
            <li class="mb-6">
              <FunctionCard func={func} />
            </li>
          )),
        )
      }
    </ul>
  </main>
</Layout>
