---
import Layout from '@/layouts/layout.astro';
import { Navbar } from '@/components/navbar';
import FunctionCard from '@/components/function-card.astro';
import { FUNCTIONS } from '@/data';
---

<Layout>
  <div
    class="items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
  >
    <aside
      class="fixed top-14 z-30 hidden h-[calc(100vh-3.5rem)] w-full py-6 md:sticky md:block"
    >
      <Navbar client:load />
    </aside>

    <main class="h-full py-6">
      <div class="space-y-6">
        {FUNCTIONS.map(func => <FunctionCard func={func} />)}
      </div>
    </main>
  </div>
</Layout>
