---
import CodeBlock from "@/components/code-block.astro";
import InstallCommands from "@/components/install-commands.astro";
import * as Typography from "@/components/ui/typography";
import Layout from "@/layouts/layout.astro";
---

<Layout class="container flex-1">
  <main class="max-w-5xl py-20">
    <section class="space-y-6">
      <Typography.H1>Remeda</Typography.H1>

      <Typography.Lead>
        The first "data-first" and "data-last" utility library designed
        specifically for TypeScript
      </Typography.Lead>
      <InstallCommands />
    </section>

    <div class="mt-20 space-y-16">
      <section>
        <Typography.H2>Why?</Typography.H2>

        <Typography.P>
          There are no good utility libraries that work well with TypeScript.
          When working with Lodash or Ramda you have to annotate types manually
          most of the time. Remeda is written and tested in TypeScript and that
          means there won't be any problems with custom typings.
        </Typography.P>
      </section>

      <section>
        <Typography.H2>What's "data-first" and "data-last"?</Typography.H2>

        <Typography.P>
          Functional programming is nice, and it makes the code more readable.
          However there are situations where you don't need "pipes", and you
          want to call just a single function.
        </Typography.P>

        <CodeBlock
          code=`
// Remeda
R.pick(obj, ['firstName', 'lastName']);

// Ramda
R.pick(['firstName', 'lastName'], obj);

// Lodash
_.pick(obj, ['firstName', 'lastName']);`
        />

        <Typography.P>
          For readers looking for data-last forms like
          <code>R.filter(fn)(array)</code>, Remeda supports it. Keep reading
          along!
        </Typography.P>

        <Typography.P>
          In the above example, "data-first" approach is more natural and more
          programmer friendly because when you type the second argument, you get
          the auto-complete from the IDE. It's not possible to get the
          auto-complete in Ramda because the data argument is not provided.
        </Typography.P>

        <Typography.P>
          "data-last" approach is helpful when writing data transformations aka
          pipes.
        </Typography.P>

        <CodeBlock
          code=`
const users = [
  { name: 'john', age: 20, gender: 'm' },
  { name: 'marry', age: 22, gender: 'f' },
  { name: 'samara', age: 24, gender: 'f' },
  { name: 'paula', age: 24, gender: 'f' },
  { name: 'bill', age: 33, gender: 'm' },
];

// Remeda
R.pipe(
  users,
  R.filter(x => x.gender === 'f'),
  R.groupBy(x => x.age),
);

// Ramda
R.pipe(
  R.filter(x => x.gender === 'f'),
  R.groupBy(x => x.age),
)(users); // broken typings in TS :(

// Lodash
_(users)
  .filter(x => x.gender === 'f')
  .groupBy(x => x.age)
  .value();

// Lodash-fp
_.flow(
  _.filter(x => x.gender === 'f'),
  _.groupBy(x => x.age),
)(users); // broken typings in TS :(`
        />

        <Typography.P>
          Mixing paradigms can be cumbersome in Lodash because it requires
          importing two different methods. Remeda implements all methods in two
          versions, and the correct overload is picked based on the number of
          provided arguments. The "data-last" version must always have one
          argument less than the "data-first" version.
        </Typography.P>

        <CodeBlock
          code=`
// Remeda
R.pick(obj, ['firstName', 'lastName']); // data-first
R.pipe(obj, R.pick(['firstName', 'lastName'])); // data-last

R.pick(['firstName', 'lastName'], obj); // error, this won't work!
R.pick(['firstName', 'lastName'])(obj); // this will work but the types cannot be inferred`
        />
      </section>

      <section>
        <Typography.H2>Lazy evaluation</Typography.H2>

        <Typography.P>
          Many functions support lazy evaluation when using <code>pipe</code> or
          <code>piped</code>. These functions have a <code>pipeable</code> tag in
          the documentation.
        </Typography.P>

        <Typography.P>
          Lazy evaluation is not supported in Ramda and only partially supported
          in lodash.
        </Typography.P>

        <CodeBlock
          code=`
// Get first 3 unique values
const arr = [1, 2, 2, 3, 3, 4, 5, 6];

const result = R.pipe(
  arr,
  R.map(x => {
    console.log('iterate', x);
    return x;
  }),
  R.uniq(),
  R.take(3)
); // => [1, 2, 3]

/**
 * Console output:
 * iterate 1
 * iterate 2
 * iterate 2
 * iterate 3
 */
       `
        />
      </section>
    </div>
  </main>
</Layout>
