---
import Markdown from "@/components/markdown.astro";
import { Navbar } from "@/components/navbar";
import V1FunctionCard from "@/components/v1/function-card.astro";
import Layout from "@/layouts/layout.astro";
import { CATEGORIZED } from "@/lib/v1/categorized";
import { NAVBAR_ENTRIES } from "@/lib/v1/navbar-categories";
import { flat, map, pipe, values } from "remeda";
import { Content as MigrationIntro } from "./v1-migration-intro.md";
---

<Layout class="flex flex-1 items-stretch gap-6 overflow-hidden">
  <aside class="hidden w-60 pl-6 md:block">
    <Navbar entries={NAVBAR_ENTRIES} client:load />
  </aside>
  <main class="ml-6 flex-1 overflow-hidden overflow-y-auto pr-6 md:ml-0">
    <Markdown><MigrationIntro /></Markdown>
    <ul>
      {
        pipe(
          CATEGORIZED,
          values,
          flat(),
          map((func) => (
            <li class="my-6">
              <V1FunctionCard func={func} />
            </li>
          )),
        )
      }
    </ul>
  </main>
</Layout>
