---
import { Navbar } from "@/components/navbar";
import V1FunctionCard from "@/components/v1/function-card.astro";
import Layout from "@/layouts/layout.astro";
import { CATEGORIZED } from "@/lib/v1/categorized";
import { getNavbarEntries } from "@/lib/navbar-entries";
import { type CollectionEntry } from "astro:content";
import { flat, map, pipe, values } from "remeda";
import ContentArticles from "@/components/content-articles.astro";

const collectionQuery = ({ data: { isV1 } }: CollectionEntry<"docs">) =>
  isV1 ?? false;

const NAVBAR_ENTRIES = await getNavbarEntries(CATEGORIZED, collectionQuery);

const { pathname } = Astro.url;
---

<Layout class="flex flex-1 items-stretch gap-6 overflow-hidden pl-6">
  <aside class="hidden w-60 py-6 md:block">
    <Navbar pathname={pathname} entries={NAVBAR_ENTRIES} client:load />
  </aside>
  <main class="flex-1 space-y-6 overflow-y-auto py-6 pr-6">
    <ContentArticles collectionQuery={collectionQuery} />
    {
      pipe(
        CATEGORIZED,
        values(),
        flat(),
        map((func) => <V1FunctionCard func={func} />),
      )
    }
  </main>
</Layout>
