---
import Markdown from "@/components/markdown.astro";
import { Navbar } from "@/components/navbar";
import V1FunctionCard from "@/components/v1/v1-function-card.astro";
import Layout from "@/layouts/layout.astro";
import { CATEGORIZED } from "@/lib/v1/categorized";
import { NAVBAR_ENTRIES } from "@/lib/v1/navbar-categories";
import { flat, map, pipe, values } from "remeda";
import { Content as MigrationIntro } from "./v1-migration-intro.md";
---

<Layout class="gap-6 md:flex">
  <aside
    class="top-14 z-30 hidden h-[calc(100dvh-3.5rem)] w-full py-6 md:sticky md:block md:w-60"
  >
    <Navbar entries={NAVBAR_ENTRIES} client:load />
  </aside>
  <main class="flex flex-col gap-10 py-6">
    <Markdown><MigrationIntro /></Markdown>
    <ul class="flex flex-col gap-6">
      {
        pipe(
          CATEGORIZED,
          values,
          flat(),
          map((func) => (
            <li>
              <V1FunctionCard func={func} />
            </li>
          )),
        )
      }
    </ul>
  </main>
</Layout>
