---
import { Navbar } from "@/components/navbar";
import Prose from "@/components/prose.astro";
import V1FunctionCard from "@/components/v1/function-card.astro";
import Layout from "@/layouts/layout.astro";
import { CATEGORIZED } from "@/lib/v1/categorized";
import { NAVBAR_ENTRIES } from "@/lib/v1/navbar-categories";
import { getEntry } from "astro:content";
import { flat, map, pipe, values } from "remeda";

const MIGRATION_COLLECTION = "wiki";

const entry = await getEntry(MIGRATION_COLLECTION, "v1-migration-intro");
const { Content: MigrationIntroContent } = await entry?.render();
---

<Layout class="flex flex-1 items-stretch gap-6 overflow-hidden pl-6">
  <aside class="hidden w-60 py-6 md:block">
    <Navbar entries={NAVBAR_ENTRIES} client:load />
  </aside>
  <main class="flex-1 space-y-6 overflow-y-auto py-6 pr-6">
    <Prose><MigrationIntroContent /></Prose>
    {
      pipe(
        CATEGORIZED,
        values,
        flat(),
        map((func) => <V1FunctionCard func={func} />),
      )
    }
  </main>
</Layout>
