---
import { getNavbarEntries, type Categorized } from "@/lib/navbar-entries";
import type { CollectionEntry } from "astro:content";
import ContentArticles from "./content-articles.astro";
import { Navbar } from "./navbar";

type Props = {
  readonly categorized: Categorized;
  readonly collectionQuery: (entry: CollectionEntry<"docs">) => boolean;
};

const { categorized, collectionQuery } = Astro.props;

const NAVBAR_ENTRIES = await getNavbarEntries(categorized, collectionQuery);
---

<div class="flex flex-1 items-stretch gap-6 overflow-hidden pl-6">
  <aside class="hidden w-60 py-6 md:block">
    <Navbar
      pathname={Astro.url.pathname}
      entries={NAVBAR_ENTRIES}
      client:load
    />
  </aside>
  <main class="flex-1 space-y-6 overflow-y-auto py-6 pr-6">
    <ContentArticles collectionQuery={collectionQuery} />
    <slot />
  </main>
</div>
