---
import CodeBlock from "@/components/code-block.astro";
import { MethodSignature } from "@/components/signature";
import type { DocumentedFunction } from "@/lib/transform";

// TODO: signature shouldn't be nullish, we should fail the build instead!
const FALLBACK_SIGNATURE = "//! Missing Signature!";

type Props = {
  readonly method: DocumentedFunction["methods"][number];
};

const {
  method: { args, example, returns, signature, tag },
} = Astro.props;
---

<div class="flex flex-col gap-2">
  {
    tag !== undefined && (
      <h6 class="text-sm font-bold text-secondary-foreground underline">
        {tag}
      </h6>
    )
  }
  <MethodSignature args={args} returns={returns} client:load>
    <CodeBlock code={signature ?? FALLBACK_SIGNATURE} />
  </MethodSignature>
  {
    example !== undefined && (
      <section class="text-xs lg:text-base">
        <CodeBlock code={example} />
      </section>
    )
  }
</div>
