---
import type {
  BlockTags,
  SignatureParameters,
  SignatureType,
} from "@/content/functions/schema";
import { hasTag, tagContent } from "@/lib/tags";
import CodeBlock from "./code-block.astro";
import { MethodSignature } from "./signature";

// TODO: signature shouldn't be nullish, we should fail the build instead!
const FALLBACK_SIGNATURE = "//! Missing Signature!";

type Props = {
  readonly blockTags: BlockTags | undefined;
  readonly parameters: SignatureParameters | undefined;
  readonly type: SignatureType;
};

const { blockTags, parameters, type } = Astro.props;

const variant = hasTag(blockTags, "dataFirst")
  ? "Data First"
  : hasTag(blockTags, "dataLast")
    ? "Data Last"
    : undefined;

const example = tagContent(blockTags, "example");

const signaturePrototype = tagContent(blockTags, "signature");
---

<section class="flex flex-col gap-2">
  {
    variant !== undefined && (
      <h6 class="text-sm font-bold text-secondary-foreground">{variant}</h6>
    )
  }
  <MethodSignature type={type} parameters={parameters} client:load>
    <CodeBlock code={signaturePrototype ?? FALLBACK_SIGNATURE} />
  </MethodSignature>
  {
    example !== undefined && (
      <section class="text-xs lg:text-base">
        <CodeBlock code={example} />
      </section>
    )
  }
</section>
