---
import { NAVBAR_ENTRIES } from "@/lib/navbar-categories";
import { GitHubLogoIcon } from "@radix-ui/react-icons";
import { buttonVariants } from "@shadcn/button";
import { MobileNav } from "./mobile-nav";
import { ThemeSwitcher } from "./theme-switcher";

const { pathname } = Astro.url;
---

<header
  class="z-50 flex h-14 flex-none items-center bg-background px-4 shadow-md"
>
  <nav class="flex flex-1 items-center gap-8 text-sm">
    <a href="/" class="font-bold"> Remeda </a>
    <div class="flex-1">
      <a
        href="/docs/"
        class:list={[
          "transition-colors hover:text-foreground/80",
          pathname === "/docs/"
            ? "font-semibold text-primary"
            : "text-foreground/60",
        ]}
      >
        Documentation
      </a>
    </div>
    <a
      href="https://github.com/remeda/remeda"
      target="_blank"
      class={buttonVariants({ variant: "ghost", size: "icon" })}
    >
      <GitHubLogoIcon />
      <span class="sr-only">GitHub</span>
    </a>
  </nav>
  <div class="-mr-2 ml-auto flex items-center gap-2">
    <ThemeSwitcher client:load />
    <MobileNav
      pathname={pathname}
      entries={NAVBAR_ENTRIES}
      client:media="(max-width: 767px)"
    />
  </div>
</header>
