---
import { ExternalLinkIcon, Link1Icon } from "@radix-ui/react-icons";

type Props = {
  readonly href: string;
};

const { href } = Astro.props;

const isExternal = href.startsWith("http");
---

<a
  target={isExternal ? "_blank" : undefined}
  class="text-base text-primary hover:underline"
  href={href}
>
  <span class="hidden sm:inline"><slot /></span>
  {
    isExternal ? (
      <ExternalLinkIcon className="sm:hidden size-6 p-1" />
    ) : (
      <Link1Icon className="sm:hidden size-6 p-1" />
    )
  }
</a>
