---
import { Code } from "astro:components";

import { CopyButton } from "@/components/copy-button";

interface Props {
  code: string;
  lang?: "bash" | "js";
  copy?: boolean;
}

const { code, lang = "js", copy = false } = Astro.props;
---

<div class="relative">
  <Code code={code} lang={lang} theme="poimandres" />

  <div class="absolute right-2 top-1/2 -translate-y-1/2">
    {copy && <CopyButton value={code} client:load />}
  </div>
</div>
