name: "Lint PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # 6.1.1
        with:
          # We use the default types (as defined in:
          # https://github.com/commitizen/conventional-commit-types).
          # "feat" would trigger a minor version bump; "fix" would
          # trigger a path version bump; anything else would **not**
          # trigger a release.
          types: |
            feat
            fix
            test
            docs
            build
            ci
            chore
            revert
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Required by the action

